

html,body
{
	margin: 0;
	padding: 0;
	height: 100%;
}

#background
{
	background-color: #000;
	background-image: url(../images/bg.jpg);		
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer *
{
	color: #fff;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer
{
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

#inputContainer
{
	width: 400px;
	padding: 45px;
	float:left;
	border-right: 1px solibd #999;
}

#inputContainer h2
{
	text-align: center;
	
}

#inputContainer input[type="text"],input[type="email"],input[type="password"]
{
	display: block;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#pass
{
	font-size: 12px;
	font-family: inherit;
	padding: 0;
	margin-left: auto;
}

/*#inputContainer input[type="password"]
{
	width: 90%;
}
.showpw input[type="checkbox"]
{
	display: inline-block;
	width: 10%;
}*/

#inputContainer label
{
	color: #a0a0a0;
	font-size: 13px;
	margin-top: 15px;
	display: block;
}

#inputContainer button
{
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 250px;
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px auto;
	height: 41px;
	width: 100%;
}

#inputContainer button
{
	cursor: pointer;
}

.hasAccountText span
{
	font-weight: bold;
	font-size: 12px;  
	cursor: pointer;
}

.hasAccountText
{
	text-align: center;
}

#registerForm,
#loginForm
{
	display: none;
}

#loginText
{
	padding: 45px;
	display: table-cell;
}

#loginText h1
{
	color: #07d159;
	font-weight: bold; 
	font-size: 60px;
}

#loginText h2
{
	margin: 35px 0;
}

#loginText ul
{
	padding: 0;
}

#loginText li
{
	font-size: 20px;
	list-style: none;
	background: url(../images/icons/checkmark.png) no-repeat 0 0;
	padding: 5px 30px;
}

#loginText2
{
	padding: 45px;
	display: table-cell;
	color: #fff;
	display: none;
}

#loginText2 h1
{
	color: #07d159;
	font-weight: bold; 
	font-size: 60px;
}

#loginText2 h2
{
	margin: 35px 0;
}

#loginText2 ul
{
	padding: 0;
}

#loginText2 li
{
	font-size: 20px;
	list-style: none;
	background: url(../images/icons/checkmark.png) no-repeat 0 0;
	padding: 5px 30px;
}

#inputContainer .errorMessage
{
	color: #07d159;
	font-size: 12px;
	display: block;
}

@media screen and (max-width : 400px)
{
	#loginText
	{
		display: none;
	}

	#loginText2
	{
		display: block;
	}

	#inputContainer
	{
		border: none;
		margin: auto;
	}
}


